#main {
  display: flex;
  justify-content: space-between;
  font-family: arial;
  font-size: xx-large;
  padding: 20px;
  height: 50px;
  background-color: rgb(188, 188, 188);

}

a {
  color: black;
}

.card {
  
}

#cards {
  display: flex;
  flex-wrap: wrap;
}

#kard {
  
}